@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  height: 100vh;
  width: 100%;
  background-color: #192231;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  overflow: hidden;
}

body p {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Muli", sans-serif;
  font-weight: 100;
}

body .above {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: #192231;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .above .logo {
  position: relative;
  width: 15%;
  height: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .above .logo img {
  position: relative;
  width: 70%;
  height: auto;
  z-index: 4;
}

body .above .search {
  position: relative;
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .above .search .arrow {
  position: absolute;
  left: 0;
  font-size: 2rem;
  color: #fff;
  z-index: 2;
}

body .above .search .arrow:hover {
  color: #EBB94A;
  cursor: pointer;
}

body .above .search .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 10%;
  height: 100%;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

body .above .search .icons i {
  position: relative;
  z-index: 5;
}

body .above .search .icons i:hover {
  color: #EBB94A;
  cursor: pointer;
}

body .above .search .icons .fa-bell {
  position: absolute;
  right: 10px;
}

body .above .search .icons .searchContainer {
  position: relative;
  width: 0%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .above .search .icons .searchContainer .searchBar {
  position: relative;
  height: 50%;
  width: 0%;
  opacity: 0;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: 10px;
}

body .above .search .icons .searchContainer .growUp {
  width: 80%;
  opacity: 1;
}

body .above .search .icons .opacitySearch {
  width: 100%;
  opacity: 1;
}

body .above .search .iconsGrow {
  width: 90%;
}

body .above .search .profile_pic {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .above .search .profile_pic .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}

body .above .search .settings {
  display: none;
}

body .side {
  position: fixed;
  width: 15%;
  height: 88%;
  top: 12%;
  z-index: 5;
  background: #131A28;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .side i {
  font-size: 1.5rem;
  color: #fff;
}

body .side i:hover {
  color: #EBB94A;
  cursor: pointer;
}

body .side div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  height: 5%;
}

body .side div .fa-home {
  color: #2CB751;
}

body .side div p {
  display: block;
  width: 50%;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

body .side div .para {
  width: 0%;
  color: rgba(255, 255, 255, 0);
}

body .side .home {
  margin-top: 15px;
}

body .side .fa-question {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 2rem;
}

body .shrink {
  width: 5%;
}

body .content {
  position: absolute;
  width: 95%;
  height: 88%;
  left: 5%;
  top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .content h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

body .content .profile {
  position: relative;
  width: 50%;
  height: 100%;
}

body .content .svg {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .content .svg .svg_profile {
  width: 90%;
  height: auto;
}
/*# sourceMappingURL=portail.css.map */