@import 'colors', 'mixin', 'fontSize', 'import';

body
{  
  height: 100vh;
  width: 100%;
  background-color: $color2;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  // overflow: hidden;
  p
  {
    font-size: $fontSize2;
    color: $police;
    font-family: "Muli", sans-serif;
    font-weight: 100;
  }
  i
  {
    font-size: $fontSize2;
    color: $icons;
  }
  i:hover
  {
    color: $color-imp;
    cursor: pointer;
    user-select: none;
  }
  .mess
  {
    font-size: $fontSize2;
    font-weight: 600;
  }
  .error
  {
    color: red;
  }
  .good
  {
    color: #3AD29F;
  }
  .above
  {
    @include positionTL(fixed, 0, 0);
    width: 100%;
    height: 12%;
    background: $color2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    @include flex(space-between, center, row);
    .logo
    {
      position: relative;
      width: 15%;
      height: 100%;
      z-index: 3;
      @include flex(center, center, row);
      img
      {
        position: relative;
        width: 70%;
        height: auto;
        z-index: 4;
      }
    }
    .search
    {
      position: relative;
      width:85%;
      height: 100%;
      @include flex(flex-end, center, row);
      i
      {
        font-size: $fontSize3;
      }
      .arrow
      {
        @include positionTL(absolute, "", 0);
        font-size: $fontSize3;
        color: $icons;
        z-index: 2;
      }
      .arrow:hover
      {
        color: $color-imp;
        cursor: pointer;
      }
      .icons
      {
        position: relative;
        width: 10%;
        height: 100%;
        font-size: $fontSize3;
        color: $icons;
        transition: .3s;
        @include flex(space-around, center, row);
        i
        {
          position: relative;
          z-index: 5;
        }
        .fa-bell
        {
          @include positionTR(absolute, "", 10px);
        }
        .searchContainer
        {
          position: relative;
          width: 0%;
          height: 100%;
          color: $icons;
          font-size: $fontSize3;
          transition: .3s;
          @include flex(center, center, row);
          .searchBar
          {
            position: relative;
            height: 50%;
            width: 0%;
            opacity: 0;
            border: none;
            background: none;
            border-bottom: 1px solid $police;
            transition: .3s;
            margin-left: 10px;
          }
          //class which grows searchbar
          .growUp
          {
            width: 80%;
            opacity: 1;
          }
        }
        // class which grows container of searchbar
        .opacitySearch
        {
          width: 100%;
          opacity: 1;
        }
      }
        // class which grows the container of bell icon and search icon/bar
      .iconsGrow
      {
          width: 90%;
      }
      .profile_pic
      {
        width: 10%;
        height: 100%;
        @include flex(center, center, row);
        .circle{
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #fff;
          overflow: hidden;
          @include flex(center, center, row);
          img
          {
            position: relative;
            width: 100%;
          }
        }
      }
      .settings
      {
        display: none;
      }
    }
  }
  .side
  {
    @include positionTR(fixed, 12%, "");
    width: 15%;
    height: 88%;
    z-index: 5;
    background: $color1;
    transition: .3s;
    @include flex(flex-start, center, column);
    div
    {
      position: relative;
      @include flex(space-around, center, row);
      margin-bottom: 15px;
      width: 100%;
      height: 5%;
      .fa-home
      {
        color: $icon-home;
      }
      .fa-sort-down
      {
        width: 30%;
        text-align: center;
      }
      #a
      {
        position: relative;
        width: 50%;
        transition: .2s;
        @include flex(space-around, center, row);
        p
        {
          width: 50%;
          color: $police;
          font-size: $fontSize2;
          font-family: "Montserrat";
        }
        p:hover
        {
          color: $color-imp;
        }
      }
      // class to make icons name appear
      .para
      {
        display: none;
      }
    }
    .home
    {
      margin-top: 15px;
    }
    .fa-question
    {
      @include positionTR(absolute, "", 10px);
      bottom: 10px;
      font-size: $fontSize3;
    }
  }
  // class to shrink the side nav
  .shrink
  {
    width: 5%;
  }
  
  .content
  {
    position: absolute;
    width: 95%;
    height: 88%;
    left: 5%;
    top: 12%;
    // background: red;
    @include flex( space-between, center, row);
    h2
    {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $police;
      z-index: 4;
      font-size: $fontSize3;
      // color: $color-imp;
      font-family: "Montserrat", sans-serif;
    }
    .profile
    {
      position: relative;
      width: 45%;
      height: 100%;
      font-size: $fontSize2;
      font-family: "Muli";
      @include flex(space-evenly, center, column);
      form
      {
        position: relative;
        width: 100%;
        height: 100%;
        color: $police;
        font-weight: 600;
        @include flex(space-around, center, column);
        .picture
        {
          position: relative;
          font-weight: 200;
          width: 150px;
          @include flex(center, center, row);
          i
          {
            @include positionBR(absolute, 0, 0);
          }
          span
          {
            width: 200%;
            text-align: left;
            @include positionBR(absolute, -5px, -310px);
            color: $color-imp;
            font-weight: 600;
          }
          .img
          {
            position: relative;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
            @include flex(center, center, row);
            img
            {
              position: relative;
              width: 100%;
            }
          }
        }
        div
        {
          width: 50%;
          label
          {
            font-family: "Montserrat";
          }
          @include flex(space-between, center, row);
          input
          {
            width: 62%;
            background: none;
            border: none;
            border-bottom: 1px solid $police;
            color: $color-imp;
          }
          input:focus
          {
            color: $color-imp;
            outline: none;
            text-align: center;
          }
          input:not(:focus)
          {
            text-align: center;
            color: $color-imp;
          }
          button
          {
            background: none;
            border: none;
          }
        }
        .select
        {
          position: relative;
          width: auto;
          select
          {
            appearance: none;
            outline: none;
            font-weight: 600;
          }
          i
          {
              @include positionTR(absolute, 0, 5px);
              color: #192231;
              font-size: $fontSize3;
          }
          select:hover
          {
            cursor: pointer;
          }
        }
        input[type=submit], select
        {
          background: $color-btn;
          color: $color1;
          border: none;
          border-radius: 20px;
          padding: 5px 20px;
          font-size: $fontSize2;
          font-weight: 600;
          transition: .2s;
        }
        input[type=submit]:hover, select:hover
        {
          cursor: pointer;
          background: white;
        }
      }
    }
    .svg
    {
      position: relative;
      width: 50%;
      height: 100%;
      @include flex(center, center, row);
      .svg_profile
      {
        position: relative;
        margin-top: 50px;
        width: 90%;
        height: auto;
        #arm-l
        {
          path
          {
            transform-origin: 15%;
            animation: arml 0.8s infinite alternate;
          }
        }
        @keyframes arml 
        {
          0%{
            transform: translateX(-12px);
            transform: rotateZ(0.1deg);
          }
          100%{
            transform: translateX(-12px);
            transform: rotateZ(0.7deg);
          }
        }
        #arm-r
        {
            transform-origin: 0%;
            animation: armr 0.8s infinite alternate;
        }
        @keyframes armr 
        {
          0%{
            transform: translate(0px, 6px);
          }
          100%{
            transform: translate(6px, 6px);
          }
        }
        #apple
        {
          position: relative;
          transform-origin: 20% 95%;
          animation: 3s squeeze infinite alternate;
        }
        @keyframes squeeze 
        {
          0%{
            transform: rotate(0deg);
          }
          20%{
            transform: rotate(0deg);
          }
          21%{
            transform: rotate(2deg);
          }
          25%{
            transform: rotate(-2deg);
          }
          29%{
            transform: rotate(2deg);
          }
          33%{
            transform: rotate(-2deg);
          }
          37%{
            transform: rotate(0deg);
          }
          100%{
            transform: rotate(0deg);
          }
        }
        #apple_2
        {
          transform-origin: bottom;
          animation: 3s newton infinite alternate;
        }
        @keyframes newton 
        {
          0%{
            transform: translateY(0px);
          }
          83%{
            transform: translateY(0px);
          }
          88%{
            transform: translateY(-15px);
          }
          93%{
            transform: translateY(0px);
          }
          100%{
            transform: translateY(0px);
          }
        }
        #Vector_106
        {
          transform-origin: 12.85% 19.92%;
        }
        #Vector_107
        {
          transform-origin: 12.85% 19.92%;
        }
        #Vector_112
        {
          animation: 4s light infinite alternate;
        }
        @keyframes light
        {
          0%{
            fill: #E0E0E0;
          }
          20%{
            fill: #E0E0E0;
          }
          30%{
            fill: #7ab9c9;
          }
          40%{
            fill: #E0E0E0;
          }
          60%{
            fill: #E0E0E0;
          }
          70%{
            fill: #7ab9c9;
          }
          80%{
            fill: #E0E0E0;
          }
          100%{
            fill: #E0E0E0;
          }
        }
      }
    }
    .steps
    {
      position: relative;
      width: 50%;
      height: 20%;
      @include flex(space-between, center, row);
      .step
      {
        background: $color3;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        @include flex(center, center, row);
        font-size: $fontSize3;
        font-family: "Muli";
        color: $police;
        z-index: 2;
      }
      .stepInto
      {
        background: $color-imp;
      }
      .stick
      {
        @include positionTL(absolute, 50%, 50%);
        transform: translate(-50%);
        width: 90%;
        height: 2%;
        background: $color3;
        z-index: 1;
      }
    }
    .createQuiz
    {
      position: relative;
      width: 100%;
      height: 100%;
      font-family: "Muli";
      z-index: 2;
      @include flex(center, center, column);
      @include positionBR(absolute, 0, 0);
      h3
      {
        font-size: $fontSize3;
        font-weight: 200;
        color: $police;
      }
      form
      {
        position: relative;
        width: 50%;
        height: 40%;
        color: $police;
        font-size: $fontSize2;
        font-family: "Muli";
        font-weight: 600;
        @include flex(space-around, center, column);
        div
        {
          position: relative;
          width: 50%;
          @include flex(space-around, center, row);
          label
          {
            position: relative;
            width: 50%;
            text-align: start;
          }
          input
          {
            position: relative;
            width: 62%;
            background: none;
            border: none;
            border-bottom: 1px solid $police;
          }
          input:focus
          {
            color: $police;
            outline: none;
            text-align: center;
          }
          input:not(:focus)
          {
            color: $police;
            outline: none;
            text-align: center;
            text-transform: uppercase;
          }
          select
          {
            position: relative;
            width: 62%;
            background: $color-btn;
            color: $color1;
            appearance: none;
            padding: 5px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            transition: .2s;
            font-size: $fontSize1;
            text-transform: uppercase;
            font-weight: 600;
          }
          select:hover
          {
            background: $police;
            cursor: pointer;
          }
          i
          {
            color: $color1;
            font-size: $fontSize2;
            @include positionTR(absolute, 0px, 5px);
          }
          button
          {
            width: 62%;
            background: none;
            border: none;
            p
            {
              position: relative;
              padding: 5px 10px;
              width: 100%;
              background: $color-btn;
              border: none;
              border-radius: 20px;
              color: $color1;
              outline: none;
              transition: .2s;
              font-size:$fontSize1;
              font-weight: 600;
              text-transform: uppercase;
            }
            p:hover
            {
              background: $police;
              cursor: pointer;
            }
          }
          span
          {
            font-size: 12px;
            @include positionTR(absolute, 37px, 5px);
          }
        }
        input[type=submit]
        {
          background: $color-btn;
          border-radius: 20px;
          padding: 5px 20px;
          border: none;
          font-size: $fontSize3;
          font-weight: 600;
          color: $color1;
          transition: .2s;
          @include positionBR(absolute, -50px, 50%);
          transform: translate(50%,);
        }
        input[type=submit]:hover
        {
          background: $police;
        }
      }
    }
    .svg_step1
    {
      width: 50%;
      height: 100%;
      z-index: 6;
      @include positionTR(absolute, 0, 0);
      @include flex(center, center, row);
      svg
      {
        width: 70%;
        @include positionBR(absolute, 15px, 15px);
        #foot
        {
          transform-origin: 20% 50%;
          animation: 2.5s foot infinite ease-in alternate;
        }
        @keyframes foot 
        {
          0%{
            transform: rotate(0deg);
          }
          12.5%{
            transform: rotate(5deg);
          }
          25%{
            transform: rotate(10deg);
          }
          37.5%{
            transform: rotate(5deg);
          }
          50%{
            transform: rotate(0deg);
          }
          62.5%{
            transform: rotate(-5deg);
          }
          75%{
            transform: rotate(-10deg);
          }
          87.5%{
            transform: rotate(-5deg);
          }
          100%{
            transform: rotate(0deg);
          }
        }
        #r_hand
        {
          transform-origin: 55% 75%;
          animation: 2s rhand infinite ease-in alternate;
        }
        @keyframes rhand
        {
          0%{
            transform: rotate(0deg);
          }
          12.5%{
            transform: rotate(4deg);
          }
          25%{
            transform: rotate(6deg);
          }
          37.5%{
            transform: rotate(4deg);
          }
          50%{
            transform: rotate(0deg);
          }
          62.5%{
            transform: rotate(-4deg);
          }
          75%{
            transform: rotate(-6deg);
          }
          87.5%{
            transform: rotate(-4deg);
          }
          100%{
            transform: rotate(0deg);
          }
        }
        #l_hand
        {
          transform-origin: 45% 75%;
          animation: 2s lhand infinite ease-in alternate;
        }
        @keyframes lhand
        {
          0%{
            transform: rotate(0deg);
          }
          12.5%{
            transform: rotate(5deg);
          }
          25%{
            transform: rotate(10deg);
          }
          37.5%{
            transform: rotate(5deg);
          }
          50%{
            transform: rotate(0deg);
          }
          62.5%{
            transform: rotate(5deg);
          }
          75%{
            transform: rotate(10deg);
          }
          87.5%{
            transform: rotate(5deg);
          }
          100%{
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}