@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  height: 100vh;
  width: 100%;
  background: #192231;
  padding: 0;
  margin: 0;
  font-family: "Muli", sans-serif;
  overflow: hidden;
}

a * {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: relative;
  height: 12%;
  width: 100%;
  left: 0;
  top: 0;
}

nav .above {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: #192231;
}

nav .above .logo {
  position: relative;
  width: 10%;
  height: auto;
  z-index: 3;
}

nav .above .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: rgba(19, 26, 40, 0.5);
  z-index: 2;
}

nav .above .connection {
  position: relative;
  height: 100%;
  width: 60%;
}

nav .above .connection form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  font-weight: 600;
  color: white;
  right: 10px;
}

nav .above .connection form input {
  position: relative;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  width: 50%;
}

nav .above .connection form input:focus {
  color: #fff;
  outline: none;
  font-size: 15px;
  text-align: center;
}

nav .above .connection form input:not(:focus) {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

nav .above .connection form div:nth-child(2) {
  position: relative;
}

nav .above .connection form .mdpForget {
  position: absolute;
  bottom: -100%;
  right: 5%;
  color: #7AB9C9;
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
}

nav .above .connection form .mdpForget:hover {
  font-weight: 900;
}

nav .above .connection form input[type=submit] {
  position: relative;
  background: #EBB94A;
  border-bottom: none;
  border-radius: 20px;
  padding: 5px 20px;
  width: 150px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #131A28;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

nav .above .connection form input[type=submit]:hover {
  background: white;
  cursor: pointer;
}

.insc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 88%;
  color: white;
}

.insc #insc_conn {
  position: relative;
  left: 7%;
  width: 40%;
}

.insc .form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
}

.insc .form h2 {
  position: relative;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.insc .form form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.insc .form form div {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 600;
  margin-bottom: 5px;
}

.insc .form form div label {
  position: relative;
}

.insc .form form div input {
  position: relative;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  width: 60%;
  margin-bottom: 25px;
}

.insc .form form div input:focus {
  color: #fff;
  outline: none;
  font-size: 15px;
  text-align: center;
}

.insc .form form div input:not(:focus) {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.insc .form form div .select {
  position: relative;
  background: #EBB94A;
  width: 60%;
  border-radius: 20px;
}

.insc .form form div .select select {
  background: #EBB94A;
  color: #131A28;
  padding: 5px 20px;
  width: 100%;
  border: none;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
}

.insc .form form div .select select:focus {
  outline: none;
}

.insc .form form div i {
  position: absolute;
  color: #192231;
  font-size: 20px;
  right: 10px;
}

.insc .form form input[type=submit] {
  margin-top: 50px;
  background: #EBB94A;
  border: none;
  padding: 5px 25px;
  border-radius: 20px;
  color: #131A28;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: 'Montserrat', sans-serif;
}

.insc .form form input[type=submit]:hover {
  cursor: pointer;
  background: white;
}
/*# sourceMappingURL=style.css.map */